body
  background-color: #83CCB4

.container
  display: flex
  flex-direction: column
  justify-content: center

.row
  padding: 20px

.dropdown-toggle
  background-color: #048897
  font-size: 23px
  color: #CFE3D0
  border: 2px solid #cfe3d0
  border-radius: 20px
  font-weight: bold
  font-family: 'Josefin Sans', sans-serif

  &:hover, &:focus
    background-color: #CFE3D0
    color: #048897
    border: 2px solid #048897

.dropdown-menu
  width: 190px
  border-radius: 20px
  margin-left: 20px
  font-size: 20px
  color: #048897
  li a
    color: #048897

button#Tooltip
  border-radius: 100%
  font-size: 12px
  background-color: #048897
  color: #FFF
  border: none

.excerpt
  display: flex
  flex-direction: row
  align-content: space-between
  align-items: center
  border-bottom: 2px dotted #CFE3D0
  color: #096378
  padding-left: 25%
  padding-right: 25%

.listingImage
  flex: 1

  img
    height: 100px
    width: 100px
    border-radius: 100%
    margin: 10px
    border: 3px solid #096378

a:hover .excerpt
  background-color: #CFE3D0

h1
  font-family: 'Josefin Sans', sans-serif
  text-align: center
  color: transparent
  font-size: 40px
  height: 200px
  background-image: url("../images/SplashSearchLogo.svg")
  background-repeat: no-repeat
  background-size: 400px
  background-position: center

.excerpt-text
  flex: 3

  h2
    font-family: 'Josefin Sans', sans-serif
    font-size: 26px
    margin: 5px
    text-align: left

  h3
    font-size: 16px
    margin: 0px
    font-family: 'Josefin Sans', sans-serif
    font-weight: normal
    line-height: 1.2em
    text-align: left

a
  text-decoration: none

  &:hover
    text-decoration: none

.filters
  display: flex
  justify-content: center

form
  text-align: center

input[type="search"]
  width: 50%
  border-radius: 20px
  height: 40px
  border: 3px solid #096378
  background-color: #CFE3D0
  margin-bottom: 30px
  font-size: 20px
  padding: 10px
  color: #096378
  -webkit-appearance: none

@media (max-width: 1000px)
  .excerpt
    padding-left: 10%
    padding-right: 10%

  input[type="search"]
    width: 90%

@media (max-width: 600px)
  .excerpt
    padding: 0px
    padding-top: 10px

  .excerpt-text
    width: 100%

  .row
    padding: 10px
